<h1>User Dashboard</h1>
<h2>Welcome <%= @user.email %></h2>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add a Resource
</button>

<% @user.resources.each do |resource| %>
  <div>
    <h1><%= resource.name %></h1><br />
    <i><%= resource.website_url %></i><br />
    <p><%= resource.description %></p><br />
  </div>
<% end %>  

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Resource</h4>
      </div>
      <%= simple_form_for Resource.new do |f| %>
        <div class="modal-body">
          <%= f.input :name %>
          <%= f.input :website_url %>
          <%= f.input :description %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Add Resource' %>  
        </div>
      <% end %>
    </div>
  </div>
</div>