<h1>Add a New Resource</h1>
<%= simple_form_for @resource do |f| %>
  <%= f.input :name %>
  <%= f.input :website_url %>
  <%= f.input :description %>
  <br />
  <%= f.submit 'Create' %>
<% end %>  